@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

a	{margin: 0;
	font-family: 'Indie Flower', cursive;
	text-decoration: none;}
	
.category p {font-family: 'Paytone One', sans-serif;
}
	


	
ul	{list-style: none;}

.header-site, .contents, .header-nav-inner, .footer-inner
	{padding-left: 10px;
	padding-right: 10px;}
	
.header-site 	{ float: left;}





/* 내비게이션 */

.header-nav-inner { float: left;}


.header-icon ul { margin: 0;
	padding: 0;
	overflow: hidden;}

.header-icon li	{float: right;
		width: auto;}
		
.header-icon li a	{ 
	display: block;
	padding: 15px;}
	
		

/* 컨텐츠  */

.category {
	font-family: 'Nanum Gothic', serif; }
	
.contents-list .category	{
		float: left;
		width:48%;
		border: 1px solid #BBBBBB;
		margin-left:10px;
		margin-bottom: 10px
		}
		
.category:nth-child(1) img { width:100%; height:50%;}

.category:nth-child(1)	{
		font-size: 1em;
		margin-bottom: 10px;
		text-align: center;
		position: relative;
		padding-left: 10px;
		height: 99%;
		
		}

.category:nth-child(2)	{
		margin-bottom: 10px;
		padding-left: 10px;
	}
		
.category:nth-child(3)	{
		padding-left: 10px; }
			
.category:nth-child(4)	{
		width:98%;
		padding-left: 10px;	
}			
		
.category:nth-child(4)	p { 
		text-align: center;
		position: relative;	}
		
.category:nth-child(2)	li { 
		padding-bottom: 10px;
		text-align: center;
		position: relative;	}		
		



.project img	{ width: 100%; height:100%;}

.category a:hover	{box-shadow: 0 0 10px #dddddd;}

/* ==================================================*/
/* 저작권 */
.copyright p	{margin: 0;
	font-size: 1.2em;
	text-align: center;}


/* 박스의 위아래 간격 */
.header-site	{padding-top: 8px;
	padding-bottom: 8px}

.contents	{padding-top: 20px;
	padding-bottom: 20px}

.footer {clear: both;
	height: 100px;
	}

.footer-inner	{
	margin: 0;
	font-family: 'Indie Flower', cursive;
	text-decoration: none;
	position: relative;
	text-align:center;
	font-size: 1em;
	top: 50px;
	}
	


/* ########### 599px 이하 ###( 3 )####### BLACK*/
@media (max-width: 599px) {
.header-nav-inner {display:none;}
.category:nth-child(1) {display:none;}
.category ul {display:none;}
.project {display:none;}
.category p {display:none;}


.header	{ background-color: none;}


.header-site img { 
	width: 100%;
	height: 800px;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index:-1;}
	

.header-site:after { 
		content: 'Kim In-ah';
		font-family: 'Indie Flower', cursive;
		font-size: 2em;
		color:#000000;
		text-shadow: 5px  5px  5px  #333;
		}

.header-icon li a:hover	{color: #FFFFFF;}

.category:nth-child(n+1) { 
		width: 95%;
		border: 1px solid #000000;
		text-align: center;
		background: #BBBBBB;
		}


.category:nth-child(n+1) a { color: #000000;}

	
.footer {
	position:relative;
	top:400px;
	background-color: #000000;}
	
	
.footer p	{margin: 0;
	color: #FFFFFF;
	font-size: 1.2em;
	text-align: center;}


.category a:hover	{color: #FFFFFF;
		background-color: #FFFFFF;}


	}



/* ########### 600px 이상 ~ 767px 이하 ####( 2 )####### BLUE*/
@media (min-width: 600px) and (max-width: 767px) {



.header-site, .contents, .header-nav-inner, .footer-inner
	{padding-left: 10px;
	padding-right: 10px;}
	
.header-site 	{ float: left;}


.header-nav-inner { float: left;}


.header-icon ul { margin: 0;
	padding: 0;
	overflow: hidden;}

.header-icon li	{float: right;
		width: auto;}
		
.header-icon li a	{ 
	display: block;
	padding: 15px;}
	
.menu ul	{margin: 0;
	padding: 0;
	list-style: none;}

.menu li a	{ 
	display: block;
	padding: 15px;
	color: #000;
	font-size: 1.2em;
	text-decoration: none;}


	
.menu ul	{overflow:hidden ;}/* 메뉴 항목(li)을 가로로 배치하기 위해 스타일 지정 */

.menu li	{float: left;/*  메뉴 항목(li)을 왼쪽부터 가로방향으로 순서대로 배치 */ 
	width: auto;}
	
.header-site img { border: 1px solid #3077BE;
	width: 40px;
	height: 40px;
	border-radius: 50%;}
	
.header	{ background-color: #3077BE;}

.menu li a:hover	{color: #3077BE;
		background-color: #E3F1FB}



.header-icon li a:hover	{color: #3077BE;
		background-color: #E3F1FB}


.category {
	font-family: 'Nanum Gothic', serif; }
	
.contents-list .category	{
		width: 99%;
		border: 1px solid #BBBBBB;
		margin-left:5px;
		margin-bottom: 10px
		}
		
.category:nth-child(1) img { width:100%; height:50%;}

.category:nth-child(1)	{
		background-color:#C4F6D4;
		font-size: 1em;
		margin-bottom: 10px;
		text-align: center;
		position: relative;
		padding-left: 5px;
		
		}

.category:nth-child(4)	{
	 	background-color:#82D99F;
		width:99%;
		padding-left: 10px;	
}

.category:nth-child(2)	{
		background-color:#FFFFFF;
		margin-bottom: 10px;
		padding-left: 5px;
	}
		
.category:nth-child(3)	{
		background-color:#E3F1FB;
		}	
			
		
.category:nth-child(4)	p { 
		text-align: center;
		position: relative;	}
		
.category:nth-child(2)	li { 
		padding-bottom: 10px;
		text-align: center;
		position: relative;	}		
		
.project a {
		float: left;
		width: 25%;
		background-color: #FFFFFF;
		border: 1px solid #000;
		margin-left:5px;
		margin-bottom: 10px;
		text-align:center;
		border-radius: 50%;
		}

.project img	{border-top-left-radius: 50%;
					border-top-right-radius: 50%; }




.copyright p	{margin: 0;
	color: #666666;
	font-size: 1.2em;
	text-align: center;}
	
.footer {
	background-color:#E3F1FB;}





	
}

	
/* ########### 768px 이상 ~ 1039px 이하 ########### PINK*/
@media (min-width: 768px) and (max-width: 1199px) {



.header-site, .contents, .header-nav-inner, .footer-inner
	{padding-left: 10px;
	padding-right: 10px;}
	
.header-site 	{ float: left;}





/* 내비게이션 */

.header-nav-inner { float: left;}


.header-icon ul { margin: 0;
	padding: 0;
	overflow: hidden;}

.header-icon li	{float: right;
		width: auto;}
		
.header-icon li a	{ 
	display: block;
	padding: 15px;}
	
.menu ul	{margin: 0;
	padding: 0;
	list-style: none;}

.menu li a	{ 
	display: block;
	padding: 15px;
	color: #000;
	font-size: 1.2em;
	text-decoration: none;}


	
.menu ul	{overflow:hidden ;}/* 메뉴 항목(li)을 가로로 배치하기 위해 스타일 지정 */

.menu li	{float: left;/*  메뉴 항목(li)을 왼쪽부터 가로방향으로 순서대로 배치 */ 
	width: auto;}
	

.header-site img { border: 1px solid #FFAAAA;
	width: 40px;
	height: 40px;
	border-radius: 50%;}
	
.header	{ background-color: #FFAAAA;}

.menu li a:hover	{color: #FFAAAA;
		background-color: #FFEEEE}



.header-icon li a:hover	{color: #FFAAAA;
		background-color: #FFEEEE}


.category {
	font-family: 'Nanum Gothic', serif; }
	
.contents-list .category	{
width: 99%;
		border: 1px solid #BBBBBB;
		margin-left:10px;
		margin-bottom: 10px
		}
		
.category:nth-child(1) img { width:100%; height:50%;}

.category:nth-child(1)	{
		background-color:#F5F4E0;
		font-size: 1em;
		margin-bottom: 10px;
		text-align: center;
		position: relative;
		padding-left: 10px;
		
		}

.category:nth-child(4)	{
	 	background-color:#FFFFEE;
		width:99%;
		padding-left: 10px;	
}

.category:nth-child(2)	{
		background-color:#FFFFFF;
		margin-bottom: 10px;
		padding-left: 10px;
	}
		
.category:nth-child(3)	{
		background-color:#FFEEEE;
		}	
			
		
.category:nth-child(4)	p { 
		text-align: center;
		position: relative;	}
		
.category:nth-child(2)	li { 
		padding-bottom: 10px;
		text-align: center;
		position: relative;	}		
		
.project a {
		float: left;
		width: 25%;
		background-color: #FFFFFF;
		border: 1px solid #000;
		margin-left:10px;
		margin-bottom: 10px;
		text-align:center;
		}
		
		


.copyright p	{margin: 0;
	color: #666666;
	font-size: 1.2em;
	text-align: center;}
	
.footer {
	background-color:#FFEEEE;}



}	

/* ########### 1040px 이상 ########### PINK*/	
@media (min-width: 1200px) {


.header-site, .contents, .header-nav-inner, .footer-inner
	{padding-left: 10px;
	padding-right: 10px;}
	
.header-site 	{ float: left;}





/* 내비게이션 */

.header-nav-inner { float: left;}


.header-icon ul { margin: 0;
	padding: 0;
	overflow: hidden;}

.header-icon li	{float: right;
		width: auto;}
		
.header-icon li a	{ 
	display: block;
	padding: 15px;}
	
.menu ul	{margin: 0;
	padding: 0;
	list-style: none;}

.menu li a	{ 
	display: block;
	padding: 15px;
	color: #000;
	font-size: 1.2em;
	text-decoration: none;}


	
.menu ul	{overflow:hidden ;}/* 메뉴 항목(li)을 가로로 배치하기 위해 스타일 지정 */

.menu li	{float: left;/*  메뉴 항목(li)을 왼쪽부터 가로방향으로 순서대로 배치 */ 
	width: auto;}
	
.header-site img { border: 1px solid #FFAAAA;
	width: 40px;
	height: 40px;
	border-radius: 50%;}
	
.header	{ background-color: #FFAAAA;}

.menu li a:hover	{color: #FFAAAA;
		background-color: #FFEEEE}



.header-icon li a:hover	{color: #FFAAAA;
		background-color: #FFEEEE}



.category:nth-child(1)	{
		background-color:#F5F4E0;
		
		}

.category:nth-child(4)	{
	 	background-color:#FFFFEE;
}

.category:nth-child(2)	{
		background-color:#FFFFFF;
	}
		
.category:nth-child(3)	{
		background-color:#FFEEEE; }	

.project a {
		border: 1px solid #000;
		margin-left:10px;
		margin-bottom: 10px;
		text-align:center;
		float: left;
		width: 25%;
		background-color: #FFFFFF;
		}


.copyright p	{margin: 0;
	color: #666666;
	font-size: 1.2em;
	text-align: center;}
	
.footer {
	background-color:#FFEEEE;}


	
	}



